DB_HOST=data.hollywood.kro.kr
DB_PORT=3306
DB_ROOT_USERNAME=root
DB_ROOT_PASSWORD=change_me_root_password
DB_ENV=development
DB_TARGET=dev

DB_DEV_DATABASE=jhs_computer_dev
DB_DEV_USERNAME=jhs_dev
DB_DEV_PASSWORD=change_me_dev_password

DB_STAGE_DATABASE=jhs_computer_stage
DB_STAGE_USERNAME=jhs_stage
DB_STAGE_PASSWORD=change_me_stage_password

DB_PROD_DATABASE=jhs_computer_prod
DB_PROD_USERNAME=jhs_prod
DB_PROD_PASSWORD=change_me_prod_password
